.user-card {
  background-color: white;
  border-radius: 10px;
}

.user-card img {
  width: 5rem;
  border-radius: 50%;
}

.user-card button {
  border: none;
  border-radius: 5px;
  background-color: #36adbc;
  color: white;
  font-weight: 500;
}

.user-details{

  height: 20rem;
  overflow-y: scroll;
  overflow-x: hidden;
}